
.contenedor_principal {
    /* background-color: rgb(209, 201, 191); */
    width: 100%; /* Ancho del viewport */
    height: 100%; /* Alto del viewport */
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
      /* Movimiento vertical */
}
.contenedor_secundario{
    /* background-color: azure; */
    margin: 20px;
    display: grid; /* Convertimos el contenedor_secundario en un flex container */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */


}
.contenedor_secundario::-webkit-scrollbar 
{
    display: none;
}

#button1 {
    width: 50%;
    text-align: center; 
    transform: translateX(50%); /* Movimiento horizontal */
    
}

#mi-div {
    /* background-color: aliceblue; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);  
    gap: 10px;
    margin: 20px;
    padding: 20px;
    width: 700px;
    overflow: auto;
    max-width: 800px; /* Limita el ancho máximo al 100% del contenedor secundario */
    max-height: 400px; /* Limita la altura máxima al 100% del contenedor secundario */
}
#mi-div::-webkit-scrollbar 
{
    display: none;
}
.item {
    /* background-color: white; */
    display: grid;
    gap:5px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s; /* Ajuste del tiempo de transición */
     
}

.item:hover {
    transform: scale(1.05);
}



.item img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto; /* Para centrar la imagen dentro del div */
}

.item button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
 
#contenededor-spinner{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
 
#spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333; /* Color del spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animación */
    display: flex; /* Para ocultar inicialmente el spinner */
    position: fixed;
    z-index: 1;
    overflow: auto;
    margin-top: 25%;
    margin-left: 48%;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  